.main {
  width: 100vw;
  background-image: image-url("hotmain.png");
  background-size: cover;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.food-contents {
  width: 100vw;
}

.ranks-title,.food-contents-title {
  width: 100vw;
  height: 10vh;
  color: rgb(0, 0, 0);
  font-family: 'Permanent Marker', cursive;
  font-size: 10vh;
  padding-top: 3vh;
  text-align: center;
}

.food-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.food-img-content {
  padding: 5vh;
  border: solid 0.1px red;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.icon-img {
  width: 7vh;
  height: 7vh;
}

.fa-user-circle {
  font-size: 7vh;
}

.food-img {
  width: 20vh;
  height: 20vh;
  margin: 20px;
}