.nokarai {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nokarai-title {
  color: rgb(0, 0, 0);
  font-family: 'Caveat', cursive;
  font-size: 8vw;
  padding: 1vh;
}