.top-page2 {
}

.top-page-header2 {
  width: 100vw;
  height: 15vh;
  font-weight: 1000;
  justify-content: end;
  text-align: center;
  background-image: image-url("hot.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.top-page-headerback2 {
  color: aliceblue;
  font-family: Impact;
  font-size: 15vh;
}