.menu-bar {
  width: 100vw;
  display: flex;
  // position: fixed;
  position: sticky;
  bottom: 0px;
}

.menu-details {
  background-image: image-url("greenhot.png");
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  background-position: center;
  background-size: 100%;
  width: 50vw;
  height: 15vh;
  display: block;
  text-align: center;
  vertical-align: middle;
  border: solid green 0.5vh;
  position: relative;
  border-radius: 100px;
  // box-shadow: 10px rgba(0, 0, 0, 0.575);
}

.fa-home,.fa-bars,.fa-search,.fa-hotjar,.fa-portrait,.fa-ice-cream,.fa-door-open {
  font-size: 7vh;
  cursor: pointer;
  padding-top: 1vh;
  color: black;
}

.menu-content,.postfood-btn-text {
  font-size: 1vw;
  display: block;
  margin: 4vh;
  cursor: pointer;
  color: black;
}

.food-search {
  display: none;
  position: absolute;
  top: -10vh;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}