.password-subtitle {
  color: rgb(0, 0, 0);
  font-family: 'Permanent Marker', cursive;
  font-size: 6vw;
  text-align: start;
  transform: rotate(-7deg);
  padding-left: 15vw;
  position: absolute;
}