.mypage-contents {
  background-image: image-url("hotmain.png");
  background-size: cover;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.mypage-title,.contents-title {
  color: rgb(0, 0, 0);
  font-family: 'Permanent Marker', cursive;
  font-size: 7vh;
  padding: 0vh auto 1vh;
  text-align: center;
}

.mypage-intro {
  padding: 1vh 40vh;
  display: flex;
  justify-content: space-around;
}

.mypage-image {
  height: 40vh;
  width: 40vh;
  object-fit: cover;
}

.fa-user {
  font-size: 40vh;
}

.mypage-intro-right {
  padding: 2vh 5vw;
}

.mypage-intro-topright {
  display: flex;
}


.mypage-intro-bottomright {
  width: 30vw;
  height: 25vh;
  background-color: rgba(255, 255, 255, 0.5);
  border: black double 5px;
  border-radius: 15% 10% 18% 8% / 10% 12% 15% 18%;
  margin: 3vh 0vw;
  padding: 2vh 2vw;
}

.contents-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  list-style: none;
}

.food-img-content {
  padding: 5vh;
}

.usershow-food-img-info {
  width: 10vw;
}

.usershow-shop-name,
.usershow-food-name,
.usershow-spicy-level-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "M PLUS Rounded 1c";
  font-size: 1vw;
  padding: 0.1em 0.5em;
  margin: 0.5em 0;
  color: #000000;
  background: #ffc29050;
  border: 3px solid #ff7c7c;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
}