.mypage-contents {
  background-image: image-url("hotmain.png");
  background-size: cover;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.mypage-title,.contents-title {
  color: rgb(0, 0, 0);
  font-family: 'Permanent Marker', cursive;
  font-size: 7vh;
  padding: 0vh auto 1vh;
  text-align: center;
}

.mypage-intro {
  padding: 0.5vw 40vw;
  display: flex;
  justify-content: space-around;
}

.mypage-image {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
}

.fa-user {
  font-size: 20vw;
  object-fit: cover;
}

.mypage-nickname {
  font-family: "M PLUS Rounded 1c";
  border-bottom: red double 2vh;
  border-radius: 50% / 20%;
  text-align: center;
  font-size: 2.5vw;
}

.mypage-intro-right {
  padding: 2vh 5vw;
}

.mypage-intro-topright {
  display: flex;
}


.mypage-intro-bottomright {
  width: 30vw;
  height: 25vh;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px double #ff0000;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  margin: 3vh 0vw;
  padding: 5vh 2vw;
  font-family: "M PLUS Rounded 1c";

}

.contents-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.myfood-list {
  list-style: none;
}

.food-img-content {
  padding: 5vh;
}

.user-show-food-img {
  width: 20vh;
  height: 20vh;
  margin: 0.5vh;
  object-fit: cover;
}

.more-lists {
  display: flex;
  justify-content: space-around;
}

.fa-info-circle,
.fa-edit,
.fa-trash-alt {
  padding-top: 0.5vh;
  font-size: 1.5vw;
}

.usershow-food-img-info {
  width: 10vw;
}

.usershow-shop-name,
.usershow-food-name,
.usershow-spicy-level-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "M PLUS Rounded 1c";
  font-size: 1vw;
  padding: 0.1em 0.5em;
  margin: 0.5em 0;
  color: #000000;
  background: #ffc29050;
  border: 3px solid #ff7c7c;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
}

.usershow-food-info {
  display: flex;
  justify-content: flex-end;
}

//モーダルウィンドウ
.modaldelete {
  position: fixed;
  background-image: image-url("delete-title.png");
  background-size: cover;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  width: 35vw;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  z-index: 2;
  display: none;
}

.modaldelete-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modaldelete-title {
  height: 20vh;
  width: auto;
  color: rgb(0, 0, 0);
  font-family: 'Permanent Marker', cursive;
  font-size: 3vw;
  text-align: center;
}

.modaldelete-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modaldelete-yes,
.modaldelete-no {
  font-size: 3vw;
  cursor: pointer;
}

.modaldelete-close {
  cursor: pointer;
  font-size: 4vw;
}

.maskdelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.219);
  z-index: 1;
  display: none;
}
// /モーダルウィンドウ

// スマホ表示の場合
@media (max-width: 500px) {
  .fa-info-circle,
  .fa-edit,
  .fa-trash-alt {
  padding-top: 0.5vh;
  font-size: 4vw;
  }
  .mypage-intro {
    padding: 0.5vw 25vw;
    display: flex;
    justify-content: space-around;
  }
  .mypage-intro-right {
    padding: 2vh 5vw;
    text-align: -webkit-center;
  }
  .usershow-shop-name-title,
  .usershow-food-name-title,
  .usershow-spicy-level-category-title {
    width: 32vw;
  }
  .usershow-shop-name,
  .usershow-food-name,
  .usershow-spicy-level-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "M PLUS Rounded 1c";
    font-size: 1vw;
    padding: 0.1em 0.5em;
    margin: 0.5em 0;
    color: #000000;
    background: #ffc29050;
    border: 3px solid #ff7c7c;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    width: 32vw;
  }

}